<% provide(:title, "Update Password") %> 
<h1>Update Your Password</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, :html => { :multipart => true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Type your new password" %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>



      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>


      