<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
    <div class="span2">
     </div>
      <div class="span2 offset2 side-menu">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
       
        <%= render 'shared/user_menu' %>
      </section>
      </div>

    <div class="span6 feed_of_posts">
      
      <h2>Your meetings</h2>
      <%= render 'posts/feed' %>
    </div>
     <div class="span2">
     </div>
  </div>  



<% else %>
            
 <div class="center hero-unit">
  <h1>Welcome to My Cookbook!</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 </div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 