<% provide(:title, @user.name) %>
<div class="row">
 <div class="span8 offset2">
    <div class="row"> 
  <h1>
  <%= @user.name %>
</h1>
  
  <aside class="span3">
    <section>
       <img style="margin-left:10px">
          <%= image_tag @user.photo.url(:profile) %>
       </img>
    </section>
  </aside>
  <div class="span5"> 
<%# Add here possibility to send message %>


<% if !@user.age.nil? %>
<p>
  Age: <%=@user.age %>
</p>
<%end %>

<% if !@user.country.nil? %>
<% if !@user.country.empty? %>
<p>
  Country: 
  <%=@country.name %>
</p>
<%end %>
<%end %>

<% if !@user.city.nil? %>
<% if !@user.city.empty? %>
<p>
  City: <%=@user.city %>
</p>
<%end %>
<%end %>

<% if !@user.intersts.nil? %>
<% if !@user.intersts.empty? %>
<p>
  Interests: <%=strip_tags(@user.intersts) %>
</p>
<%end %>
<%end %>

<% if !@user.description.nil? %>
<% if !@user.description.empty? %>
<p>
  About: <%=strip_tags(@user.description) %>
</p>
<%end %>
<%end %>
     <%#= render 'follow_form' if signed_in? %>
   <%# <% if @user.posts.any? %>
     <%# <h3>Recipies (<%= @user.posts.count %>   <%# )</h3>
      <%#<ol class="posts">
        <%#= @user.sent_messages %>
      <%#</ol>
      <%#= will_paginate @posts %>
    <%# end %>
  </div>
</div>
</div>
</div>