<header class="navbar">
  <div class="navbar-inner", style="background-image:'cream-dust.png';">
    <span class="container">
      
     
        <ul class="nav pull-right", style="color:#000000;">
          
          <li style="color:#856a75;"><%= link_to "My Meetings", home_path %></li>
          <li ><%= link_to "Help", root_path %></li>
          <% if signed_in? %>
            <li ><%= link_to "Users", '#' %></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
          <% else %>
            <li ><%= link_to "Sign in", signin_path %></li>
          <% end %>
       
        </ul>
     
    </span>
  </div>
</header>
